<!DOCTYPE html>
<html lang="en">

<head>
  <!-- HTML Meta Tags -->
  <meta charset="utf-8"/>
  <title>Clough Art Crawl</title>
  <meta name="description" content="The Clough Art Crawl features work from Georgia Tech students across several disciplines, majors, and degree levels.">

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="https://art-crawl-exhibit.herokuapp.com/">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Clough Art Crawl">
  <meta property="og:description" content="The Clough Art Crawl features work from Georgia Tech students across several disciplines, majors, and degree levels.">
  <meta property="og:image" content="https://art-crawl-exhibit.herokuapp.com/images/ogImage.png">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="art-crawl-exhibit.herokuapp.com">
  <meta property="twitter:url" content="https://art-crawl-exhibit.herokuapp.com/">
  <meta name="twitter:title" content="Clough Art Crawl">
  <meta name="twitter:description" content="The Clough Art Crawl features work from Georgia Tech students across several disciplines, majors, and degree levels.">
  <meta name="twitter:image" content="https://art-crawl-exhibit.herokuapp.com/images/opengraph.png">

  <!-- Meta Tags Generated via https://www.opengraph.xyz -->
        

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- FONTS -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Amiri&display=swap" rel="stylesheet"> 
  
  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="/js/vendor/splide-2.4.21/dist/css/splide.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide-extension-video@0.4.6/dist/css/splide-extension-video.min.css">
  <link rel="stylesheet" href="/style.css">

  <!-- Font Awesome 
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">
</head>

<body>
  <div id="hero" class="position-absolute">
    <div class="">
      <h1>Clough Art Crawl</h1>
      <div><button>explore the exhibit</button></div>
    </div>
  </div>
  <a id="openseadragon-close" class="hide"><i class="fas fa-times"></i></a>
  <div id="openseadragon"></div>
  <div id="html-overlay" class="hide"></div>
  <div id="about" class="hide pop-up">
    <div id="about-card" class="card">
      <a id="about-close" class="pop-up-close"><i class="fas fa-times"></i></a>
      <div class="logos">
        <a href="https://arts.gatech.edu/" target="_blank"><img class="logo" src="/images/logos/Arts-logo-black.png" /></a>
        <a href="https://library.gatech.edu/" target="_blank"><img class="logo" src="/images/logos/gtlib-logo.png" /></a>
      </div>
      <h2>Welcome to the Spring 2021 Clough Art Crawl</h2>
      <p>Georgia Tech Arts, in partnership with the Georgia Tech Library, presents the Clough Art Crawl each fall and spring with a different theme to inspire students' creativity. Undergraduate and graduate students from across the Institute are encouraged to submit their work for consideration.</p>
      <h2>This spring's theme is <em>Connecting...</em></h2>
      <p>Life as we know it has changed for all of us this past year. We find ourselves operating in a new space, a virtual space. We encourage artists to explore, examine, translate what <em>connection</em> means to them. Reflect on what does it mean to stay connected, needing to disconnect, navigating new means of connecting, and more.</p>
      <p>The Clough Art Crawl takes a new form for the 2021 Spring Show. The show is exhibited digitally through an interactive web app. For this digital exhibit we have accepted the following mediums of art: photography, graphic/code-based art, film/video, music, and literary works.</p>
    </div>
  </div>
  <div id="artcrawl-container" class="container-fluid">
    <div id="header" class="row align-items-center justify-content-md-between justify-content-lg-start">
      <div id="legend" class=""></div>
      <a href="https://arts.gatech.edu/clough-art-crawl/" target="_blank"><h2 class="header">Clough Art Crawl</h2></a>
    </div>
    <div id="artcrawl" class="row align-items-center">
      <div class="slider order-first col-xl-6 justify-content-center align-items-center">
        <div class="splide">
          <div class="splide__track">
            <ul class="splide__list">
                <% for (let i = 0; i < data.length; i++) { %>
                  <% if (data[i]["Media"] === "Video") { %>
                    <li class="splide__slide video" data-splide-<%=data[i]["Video Platform"]%>="<%=data[i]["Media URL"]%>">
                      <img class="video" data-id="<%=i%>" data-splide-lazy="/images/artcrawl/<%= data[i]['Image File'] %>" data-media="<%= data[i]["Media"]%>"/>
                  <% } else if (data[i]["Media"] === "Audio") { %>
                    <li class="splide__slide audio">
                        <a href="/audio/<%=i%>" target="_blank">
                          <img class="audio" data-id="<%=i%>" data-splide-lazy="/images/artcrawl/<%= data[i]['Image File'] %>" data-media="<%= data[i]["Media"]%>"/>
                        </a>
                  <% } else { %>
                    <li class="splide__slide">
                      <img class="" data-id="<%=i%>" data-splide-lazy="/images/artcrawl/<%= data[i]['Image File'] %>" data-media="<%= data[i]["Media"]%>"/>
                  <% } %>
                    <p><em><%=data[i]['Title of Artwork']%></em>, <%=data[i]['First Name']%> <%=data[i]['Last Name']%>, <%=data[i]['Major']%>, Spring <%= data[i]["Year"] === '2021' ? '2021' : '2020' %></p>
                  </li>
                <% } %>
            </ul>
          </div>
        </div>
      </div>
      <div id="grid-container" class="order-last col-xl-6">
        <div class="row flex-wrap">
        <div class="col-xl-12 order-sm-last order-xl-first">
          <div class="controls row">
            <fieldset id="sort-group" class="control col-lg col-xl-4 group">
              <div class="row justify-content-start justify-content-md-end">
                <div class="help-card hide">
                  <p>shuffle the images by the artists' last names, majors, or titles of artwork.</p>
                </div>
                <legend>shuffle</legend>
                <i class="help pl-1 fas fa-question-circle"></i>
              </div>
              <div id="sort-options" class="btn-group flex-wrap options">
                <label id="sort-btn-1" class="btn active">
                  <input type="radio" name="sort-value" value="last-name" /> name
                </label>
                <label id="sort-btn-2" class="btn">
                  <input type="radio" name="sort-value" value="major" /> major
                </label>
                <label id="sort-btn-3" class="btn">
                  <input type="radio" name="sort-value" value="title" /> title
                </label>
              </div>
            </fieldset>
            <div id="color-group" class="control order-last col-lg-2 col-xl-2">
              <div class="row justify-content-end">
                <div class="help-card hide">
                  <p>a color for each college at Georgia Tech</p>
                </div>
                <label for="color-btn">color</label>
                <i class="help pl-1 fas fa-question-circle"></i>
              </div>
              <button id="color-btn" class="btn">college</button>
            </div>
            <form id="search-group" class="control col-lg col-xl-3 group">
              <div class="row justify-content-end">
                <div class="help-card hide">
                  <p>search art by artist last name or title of artwork or filter by major.</p>
                </div>
                <label for="search">search</label>
                <i class="help pl-1 fas fa-question-circle"></i>
              </div>
              <input id="search" type="search" autocomplete="off"/>
              <input type="search" style="display: none;"/>
            </form>
            <fieldset id="filters-group" class="control col-lg col-xl-3 group">
              <div class="row justify-content-start justify-content-md-end">
                <div class="help-card hide">
                  <p>"major" will filter artists that share the major as the currently highlighted artist.</p>
                </div>
                <legend>filter</legend>
                <i class="help pl-1 fas fa-question-circle"></i>
              </div>
                <div id="filter-options" class="btn-group flex-wrap options">
                  <label class="btn active">
                    <input type="radio" name="filter-value" value="all" /> all
                  </label>
                  <label id="major-filter" class="btn">
                    <input type="radio" name="filter-value" value="major" /> major
                  </label>
                </div>
            </fieldset>
          </div>
        </div>
        <div class="grid-col order-first col">
          <div id="grid" class="">
            <% for (let i = 0; i < data.length; i++) { %>
                <figure id="<%=i%>" class="art-crawl-item gallery" data-groups='["<%= data[i]['Major'] %>"]' data-username="<%= data[i]['Username'].toLowerCase()%>" data-first-name="<%= data[i]["First Name"] %>" data-last-name="<%= data[i]['Last Name'] %>"
                  data-major="<%= data[i]['Major'] %>" data-college="<%=data[i]['College']%>" data-title="<%= data[i]['Title of Artwork'] %>" data-media="<%= data[i]["Media"]%>" data-artist-statement="<%= data[i]['Artist Statement'] %>">
                <img src="/images/thumbnails/<%= data[i]['Image File']%>" />
            </figure>
            <% } %>
            <div class="sizer-element"></div>
          </div>
        </div>
        </div>
      </div>
      <div id="footer" class="hide col order-last">
        <div class="footer__btns row justify-content-end align-items-md-end">
            <div class="grid-slider-toggle">
              <i id="grid-toggle" class="footer__btn slider-view fas fa-th"></i>
              <i id="slider-toggle" class="footer__btn grid-view fas fa-images"></i>
            </div>
            <div>
              <i id="about-toggle" class="footer__btn fas fa-info-circle"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

  <!-- JS -->
  <script type="text/javascript"  src="/js/vendor/shuffle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
  <script type="text/javascript" src="/js/vendor/openseadragon.min.js"></script>
  <script type="text/javascript" src="/js/vendor/splide-2.4.21/dist/js/splide.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide-extension-video@0.4.6/dist/js/splide-extension-video.min.js"></script>
  <script type="text/javascript" src="/js/grid.js"></script>
  <script type="text/javascript" src="/js/slider.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>
</body>

</html>